::-moz-selection { /* Code for Firefox */
    background: #CF4828;
}

::selection {
    background: #CF4828;
}
 
.color_0{fill: rgba(0,0,0,0); stroke: #ffffff; stroke-width: 2px;}
.color_1{fill: rgba(0,0,0,0);stroke: #8dd3c7; stroke-width: 2px;}
.color_2{fill: rgba(0,0,0,0);stroke: #F2E855; stroke-width: 2px;}
.color_3{fill: rgba(0,0,0,0);stroke: #bebada; stroke-width: 2px;}
.color_4{fill: rgba(0,0,0,0);stroke: #F2695A; stroke-width: 2px;}
.color_5{fill: rgba(0,0,0,0);stroke: #6CB7EB; stroke-width: 2px;}
.color_6{fill: rgba(0,0,0,0);stroke: #fdb462; stroke-width: 2px;}
.color_7{fill: rgba(0,0,0,0);stroke: #b3de69; stroke-width: 2px;}
.color_8{fill: rgba(0,0,0,0);stroke: #FA89B1; stroke-width: 2px;}
.color_9{fill: rgba(0,0,0,0);stroke: #d9d9d9; stroke-width: 2px;}
.color_10{fill: rgba(0,0,0,0);stroke: #bc80bd; stroke-width: 2px;}



body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px;
}
#map {
  left:20%;
  height:100%;
  width:80%;
  padding:0px;
  margin:0px;
  position: absolute;
}


#leaderboards {
  position: relative;
  z-index: 1000;
  color: #fff;  
}

#leadertitle{
  padding-top: 10px;
  margin-bottom: 2px;
  height: 56px;
  background: rgb(51, 51, 51);
  border-bottom-color: #666;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

#leadertitle h1{
  font-size: 1.2em;
  margin: 0;
  font-weight: bold;
  text-align: center;
}


#leadertitle p{
  font-size: 0.8em;  
  color: white;
  margin: 0;
  text-align: center;
}

h2 {
  margin: 0px;
  font-style: italic;
  font-size: 0.8em;
  font-weight: 400;
  position: absolute;
  padding-left: 3px;
  bottom: 15px;
}

.red {
  fill: rgba(0,0,0,0);
  stroke: gold;
  stroke-width: 1px;
}

#sidebox{
  z-index: 1000;
  top: 0px;
  left: 0px;
  position: absolute;
  background: rgb(20, 20, 20);
/*  border-right: 2px;
  border-color: black;*/
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2), 0 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  width: 300px;
  height: 100%;
  color: white;
}


#logroll-box{
  position: relative;
  height:25%;
  padding: 5px;
  overflow: scroll;
}

#logroll{
  font-size: 0.8em;
  color: #999;
  height: 200px;
}

#progress-bar-container {
  width: 100%; 
  height: 8px; 
  border: 1px solid black;
  bottom: 0;
  position: absolute;
}

#progress-bar {
  height: 8px;
  background-color: #CF4828;
  width: 50%;
}

#leaderboard {
  position: relative;
  height: 60%;
  overflow: scroll;
  padding: 0px;
  margin: 0px;
}

ul#leaderboard li {
  transition: top 500ms;
  -webkit-transition: top 500ms;
  list-style-type: none;
  height: 30px;
  line-height: 30px;
  border-bottom-color: rgba(255, 255, 255, 0.1);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 3px;
  width: 100%;
}

.linebreak{
  height: 1px;
  width: 100%;
  background-color: #666;
  margin: 0px;
}

.hashtag-item{
  cursor: pointer;
  padding: 2px;
  font-size: 0.9em;
}

.hashtag-item:hover{
  color: #D04527;
}

.leaflet-control-zoom{
  right: 10px;
  top: 4px;
}

.leaflet-control-attribution{
  background: red;
}

#logo{
  z-index: 1000;
  position:absolute;
  top: 10px;
  right: 8px;
}


/* SPINNER */
#spinner {
  text-align: center;
  position: relative;
  top: 80px;
}
.spinner > div {
  width: 10px;
  height: 10px;

  background-color: #666;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  text-align: center;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.leaflet-container{
    background-color: black;
}