#map {
  height:94%;
  width:100%;
  padding:0px;
  margin:0px;
  position: absolute;
}

h1{
  font-size: 1.3em;
  margin-top: 0px;
  margin-bottom: 2px ;
}

.red { 
  fill: #F00;
}

#sidebox{
  z-index: 1000;
  top: 0px;
  right: 20px;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2), 0 0 0 2px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  padding: 10px 20px 20px 20px;
  width: 200px;
  height: 550px;
  overflow: scroll;
}


#logroll-box{
  position: relative;
  height: 500px;
  overflow: scroll;
}

#logroll{
  font-size: 0.8em;
}

#leaderboard {
  position: relative;
  height: 300px;
  overflow: scroll;
}
ul#leaderboard li {
  transition: top 500ms;
  -webkit-transition: top 500ms;
}

#leaderboards {
  position: relative;
  z-index: 1000;
}

.linebreak{
  height: 1px;
  width: 74%;
  background-color: #CCC;
  margin-bottom: 8px;
}

.hashtag-item{
  cursor: pointer;
  padding: 2px;
  font-size: 0.9em;
}

.hashtag-item:hover{
  color: #D04527;
}